/* ========================================
VARIABLES DESIGN SYSTEM
======================================== */

:root {
    --color-background: #0F172A;
    --color-text-secondary: #64748B;
    --radius: 8px;
    --transition: 0.2s ease;
}


/* ========================================
STRUCTURE GLOBALE APP
======================================== */

html, body, [data-testid="stAppViewContainer"] {
    background-color: var(--color-background);
    color: var(--color-text-secondary);
}


/* container principal */

.main .block-container {

    padding-top: 1.5rem;

    padding-bottom: 2rem;

    max-width: 1200px;

}


/* ========================================
TYPOGRAPHIE
======================================== */


p {

    color: var(--color-text-secondary);

}


/* ========================================
CORRECTIONS STREAMLIT
======================================== */

/* supprimer padding top automatique */

[data-testid="stAppViewContainer"] {

    padding-top: 0;

}


/* enlever outline boutons */

button {

    border-radius: var(--radius);

}


/* ========================================
UTILITAIRES
======================================== */

.text-center {

    text-align: center;

}

.mt-1 {

    margin-top: 1rem;

}

.mb-1 {

    margin-bottom: 1rem;

}


/* ========================================
ANIMATIONS GLOBAL
======================================== */

* {

    transition: var(--transition);

}
